.del{
    color:white;
    margin-top:-20px;
    height:565px;
    background-repeat: no-repeat;
    background-size: 1300px 680px;
    background-image: url("https://cdn1.aoe.com/fileadmin/AOE.com/Images/main_navigation/insights/AdobeStock_283774898.jpeg");
}
.dbo{
   margin-left: 50px;
   
}