p{
   font-size: larger;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color:white;
}
.put{
   height:590px;
   background-repeat: no-repeat;
   background-size: 1300px 650px;
   background-image: url("https://cdn1.aoe.com/fileadmin/AOE.com/Images/main_navigation/insights/AdobeStock_283774898.jpeg");
}
.p1,.p2,.p3,.p4,.p5,.p6,.p7{
 border-color: black;
 height:20px;  
}
#b1{
   height: 450px;
   border:2px solid white ;
   padding: 20px;
}
.p1{
   margin-left: 130px;
}
.p2{
   margin-left: 95px;
}
.p3{
   margin-left: 170px;
}
.p4{
   margin-left: 140px;
}
.p5{
   margin-left: 78px;
}
.p6{
   margin-left: 93px;
}
.p7{
   margin-left: 150px;
}
.g1{
   margin-left: 150px;
   height:30px;
   width:120px;
   border-radius: 10px;
   border-style:double;
   margin-top: 40px;
}

#body{
  width:500px;
  border-style:dotted;
  margin-left: 30px;
  margin-top: -20px;
  color:white;
  padding:8px;
}